.so-widget-sow-icon-default-c55d9df80125 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-c55d9df80125 .sow-icon span,
.so-widget-sow-icon-default-c55d9df80125 .sow-icon a span {
  display: inline-block;
  color: #4d4d4d !important;
  font-size: 2em !important;
}